@model IEnumerable<EmployeeViewModel>
@{
    ViewData["Title"] = "Home Page";
    // var employee2= ViewData["Message"] as Employee;
}

<div>
    <a class="btn btn-primary mt-3" asp-controller="Employees" asp-action="Create">Create New Employee</a>
</div>

<div class="mt-2">
    <form method="get" asp-action="Index" class="row offset-2">
        <div class="col-10">
            <input class="form-control" type="text" placeholder="Employee's Name" name="searchValue" required/>
        </div>
        <div class="col-2">
            <input class="btn btn-info" type="submit" value="Search"/>
        </div>
    </form>


</div>
    <table class="table table-striped table-hover">
        <thead>

            <tr>
                <td> @Html.DisplayNameFor(d => d.Image)</td>
                <td> @Html.DisplayNameFor(d => d.Name)</td>
                <td> @Html.DisplayNameFor(d => d.Age)</td>
                <td> @Html.DisplayNameFor(d => d.Salary)</td>
                <td> @Html.DisplayNameFor(d => d.Department)</td>
                <td> @Html.DisplayNameFor(d => d.Email)</td>
                <td> @Html.DisplayNameFor(d => d.Phone)</td>
                <td> @Html.DisplayNameFor(d => d.Address)</td>
                <td> @Html.DisplayNameFor(d => d.IsActive)</td>


                <td> Detalis</td>
                <td> Edit</td>
                <td> Delete</td>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td> <img src="~/Files/Images/@item.ImageName" height="75" width="75" class="rounded"/></td>
                    <td> @item.Name</td>
                    <td> @item.Age</td>
                    <td> @Html.DisplayFor(e=>item.Salary)</td>
                    <td> @item.Department?.Name</td>       
                    <td> @Html.DisplayFor(e => item.Email)</td>
                    <td> @item.Phone</td>
                    <td> @item.Address</td>
                    <td>
                        @if (item.IsActive)
                        {
                            <i class="fa-solid fa-circle" style="color:green"></i>
                        }
                        else
                        {
                            <i class="fa-solid fa-circle" style="color:red"></i>
                        }

                    </td>

                    <partial name="_ButtonsPartialView" Model="@item.Id.ToString()"></partial>
                </tr>
            }

        </tbody>

    </table>

